---
whiskers:
  version: 2.5.1
  matrix:
    - flavor
    - accent
  filename: "src/catppuccin-{{flavor.identifier}}-{{accent}}-rounded/{{flavor.identifier}}-{{flavor.colors[accent].identifier}}.svg"
---
<svg width="39" height="39" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <rect width="39" height="39" rx="8" fill="#{{flavor.colors[accent].hex}}"/>
</svg>
